<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/think/Public/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery.js"></script>
<script type="text/javascript">
$(function(){	
	//顶部导航切换
	$(".nav li a").click(function(){
		$(".nav li a.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	
</script>


</head>

<body style="background:url(/think/Public/img/human.png) no-repeat right;">

    <div class="topleft">
    <a href="main.html" target="_parent"><img src="/think/Public/img/logo.gif" title="系统首页" /></a>
    </div>
        
    <ul class="nav">
    <li><a href="/think/Public/img/icon_md.png" target="rightFrame" class="selected"><img src="/think/Public/img/icon_md.png" title="MSS" /><h2>MSS</h2></a></li>
    <li><a href="/think/Public/img/icon_obj.png" target="rightFrame"><img src="/think/Public/img/icon_obj.png" title="目标" /><h2>目标</h2></a></li>
    <li><a href="/think/Public/img/icon_jd.png"  target="rightFrame"><img src="/think/Public/img/icon_jd.png" title="财务说明书" /><h2>财务说明书</h2></a></li>
    <li><a href="/think/Public/img/icon_about.png"  target="rightFrame"><img src="/think/Public/img/icon_about.png" title="关于ESS" /><h2>关于ESS</h2></a></li>
    <li><a href="/think/Public/img/icon_help.png" target="rightFrame"><img src="/think/Public/img/icon_help.png" title="登出" /><h2>帮助</h2></a></li>
    <li><a href="/think/Public/img/icon_exit.png"  target="rightFrame"><img src="/think/Public/img/icon_exit.png" title="登出" /><h2>登出</h2></a></li>
    </ul>
            
    <div class="topright">    
    <!-- <ul>
    <li><span><img src="images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    <li><a href="login.html" target="_parent">退出</a></li>
    </ul> -->
     
    <!-- <div class="user">
    <span>admin</span>
    <i>消息</i>
    <b>5</b>
    </div> -->   
    
    </div>

</body>
</html>
